<div *ngIf="!spinnerService.getSpinner()"
    class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 col-xs-12 ad-detail-wrapper">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 p-0">
        <span *ngIf="ad.petStatus === 'LOST'"
            class="fa fa-frown-o ad-detail-feeling-status-logo ad-detail-feeling-lost-logo"></span>
        <span *ngIf="ad.petStatus === 'FOUND'"
            class="fa fa-smile-o ad-detail-feeling-status-logo ad-detail-feeling-found-logo"></span>
        <img class="ad-detail-photo" src="{{apiUrl}}/{{ad.photo}}" alt="Imagen de la mascota perdida">
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12 google-map-wrapper">
        <agm-map (mapReady)="onMapReady($event)">
            <agm-marker [latitude]="ad?.lastSpottedCoords?.latitude"
                [longitude]="ad?.lastSpottedCoords?.longitude">
                <agm-info-window [disableAutoPan]="false" [isOpen]="true">
                    Ubicacion de la desaparicion de <strong>{{ad.pet.name}}</strong>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ad-detail-info-wrapper">
        <h1>
            <span class="fa fa-bullhorn mr-1"></span>Anuncio
        </h1>
        <hr class="ad-detail-separator">
        <div class="ad-detail-ad-info">
            <div>
                <span class="ad-info-text-label">
                    <span class="fa fa-id-card-o mr-1"></span>Código
                </span>
                <span class="ad-info-text">{{ad.code}}</span>
            </div>
            <div>
                <span class="ad-info-text-label">
                    <span class="fa fa-money mr-1"></span>Recompensa Ofrecida
                </span>
                <span class="ad-info-text">{{ad.reward}} €</span>
            </div>
            <div>
                <span class="ad-info-text-label">
                    <span class="fa fa-question-circle-o mr-1"></span>Estado Mascota
                </span>
                <span *ngIf="ad.petStatus === 'LOST'" class="ad-info-text lost-pet-status">Perdida</span>
                <span *ngIf="ad.petStatus === 'FOUND'" class="ad-info-text found-pet-status">Encontrada</span>
            </div>
            <div>
                <span class="ad-info-text-label">
                    <span class="fa fa-calendar mr-1"></span>Fecha Desaparición
                </span>
                <span class="ad-info-text">{{ad.date | date:'dd.MM.yyyy HH:mm'}}</span>
            </div>
        </div>
        <div>
            <span class="ad-info-text-label">
                <span class="fa fa-exclamation-triangle mr-1"></span>Observaciones
            </span>
            <span class="ad-info-text ad-detail-text-observations">{{ad.observations}}</span>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ad-detail-info-wrapper">
        <h1>
            <span class="fa fa-paw mr-1"></span>Mascota
        </h1>
        <hr class="ad-detail-separator">
        <div class="ad-detail-ad-info">
            <div>
                <span class="ad-info-text-label">
                    <span class="fa fa-id-card-o mr-1"></span>Nombre
                </span>
                <span class="ad-info-text">{{ad.pet.name}}</span>
            </div>
            <div>
                <span class="ad-info-text-label">
                    <span class="fa fa-paw mr-1"></span>Tipo
                </span>
                <span class="ad-info-text">{{ad.pet.type}}</span>
            </div>
            <div>
                <span class="ad-info-text-label">
                    <span class="fa fa-info mr-1"></span>Raza
                </span>
                <span class="ad-info-text">{{ad.pet.race}}</span>
            </div>
            <div>
                <span class="ad-info-text-label">
                    <span class="fa fa-intersex mr-1"></span>Sexo
                </span>
                <span *ngIf="ad.pet.sex === 'MALE'"
                    class="ad-info-text">Macho
                </span>
                <span *ngIf="ad.pet.sex === 'FEMALE'"
                    class="ad-info-text">Hembra
                </span>
            </div>
            <div>
                <span class="ad-info-text-label">
                    <span class="fa fa-adjust mr-1"></span>Color
                </span>
                <span class="ad-info-text">{{ad.pet.colour}}</span>
            </div>
            <div>
                <span class="ad-info-text-label">
                    <span class="fa fa-microchip mr-1"></span>Microchip (ID)
                </span>
                <span class="ad-info-text">{{ad.pet.microchipId}}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ad-detail-info-wrapper">
        <h1>
            <span class="fa fa-user mr-1"></span>Propietario
        </h1>
        <hr class="ad-detail-separator">
        <div class="ad-detail-ad-info">
            <div>
                <span class="ad-info-text-label">
                    <span class="fa fa-id-card-o mr-1"></span>Nombre
                </span>
                <span class="ad-info-text">{{ad.user.firstName}}</span>
            </div>
            <div>
                <span class="ad-info-text-label">
                    <span class="fa fa-id-card-o mr-1"></span>Apellidos
                </span>
                <span class="ad-info-text">{{ad.user.lastName}}</span>
            </div>
            <div>
                <span class="ad-info-text-label">
                    <span class="fa fa-at mr-1"></span>Correo Electrónico
                </span>
                <span class="ad-info-text">{{ad.user.email}}</span>
            </div>
            <div>
                <span class="ad-info-text-label">
                    <span class="fa fa-phone mr-1"></span>Teléfono
                </span>
                <span class="ad-info-text">{{ad.user.phone}}</span>
            </div>
        </div>
        <hr class="ad-detail-separator">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ad-detail-actions">
        <button *ngIf="isMobileDevice()" class="btn custom-btn-primary"
            [disabled]="ad.user.id === user.id"
            (click)="makeCall(ad.user.phone)">
            <span class="fa fa-phone fa-fw"></span>
        </button>
        <button *ngIf="isMobileDevice()" class="btn custom-btn-primary"
            [disabled]="ad.user.id === user.id"
            (click)="sendEmail(ad.user.email)">
            <span class="fa fa-envelope fa-fw"></span>
        </button>
        <button id="go-to-chat-button"
            class="btn custom-btn-primary"
            [disabled]="ad.user.id === user.id"
            (click)="goToChat(ad.user)"
            pTooltip="Enviar mensaje privado al propietario del anuncio"
            tooltipPosition="top"
            tooltipStyleClass="button-tooltip">
            <span class="fa fa-comments fa-fw"></span>{{!isMobileDevice() ? "Chat" : ""}}
        </button>
        <button *ngIf="ad.user.id === user.id || user.role === 'ADMIN'"
            id="go-to-update-ad-button"
            class="btn custom-btn-primary"
            (click)="goToUpdateAd(ad)"
            pTooltip="Modificar los datos del anuncio"
            tooltipPosition="top"
            tooltipStyleClass="button-tooltip">
            <span class="fa fa-pencil fa-fw"></span>{{!isMobileDevice() ? "Modificar" : ""}}
        </button>
        <div *ngIf="user.role === 'ADMIN'"
            class="custom-control custom-switch custom-switch-adaptive"
            pTooltip="Habilitar/deshabilitar el anuncio"
            tooltipPosition="top"
            tooltipStyleClass="button-tooltip">
            <input id="adStatusInput" type="checkbox"
                class="custom-control-input"
                [(ngModel)]="adStatus"
                (click)="updateAdStatus()">
            <label for="adStatusInput" class="custom-control-label"></label>
        </div>
    </div>
</div>
