<div *ngIf="!spinnerService.getSpinner()"
    class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 col-xs-12 users-wrapper">
    <div *ngFor="let user of pageOfUsers">
        <div class="user-wrapper">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 p-0">
                <img class="user-photo" src="/assets/user-image-placeholder.svg">
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 user-info">
                <div>
                    <span class="user-info-text-label">
                        <i class="fa fa-at mr-1"></i>Correo Electrónico
                    </span>
                    <span class="user-info-text">{{user.email}}</span>
                </div>
                <div>
                    <span class="user-info-text-label">
                        <i class="fa fa-question-circle-o mr-1"></i>Estado
                    </span>
                    <span *ngIf="user.status === 'ENABLED'"
                        class="user-info-text enabled-user-status">Habilitado
                    </span>
                    <span *ngIf="user.status === 'DISABLED'"
                        class="user-info-text disabled-user-status">Deshabilitado
                    </span>
                </div>
                <div>
                    <span class="user-info-text-label">
                        <i class="fa fa-id-card-o mr-1"></i>Rol
                    </span>
                    <span *ngIf="user.role === 'USER'"
                        class="user-info-text user-role-text">Usuario
                    </span>
                    <span *ngIf="user.role === 'ADMIN'"
                        class="user-info-text user-role-text">Administrador
                    </span>
                </div>
                <div>
                    <span class="user-info-text-label">
                        <i class="fa fa-phone mr-1"></i>Teléfono
                    </span>
                    <span class="user-info-text">{{user.phone}}</span>
                </div>
                <div>
                    <span class="user-info-text-label">
                        <i class="fa fa-user mr-1"></i>Nombre
                    </span>
                    <span class="user-info-text">{{user.lastName}} {{user.firstName}}</span>
                </div>
                <div *ngIf="user.role !== 'ADMIN'" class="user-actions">
                    <div class="custom-control custom-switch custom-switch-adaptive"
                        pTooltip="Habilitar/deshabilitar el usuario"
                        tooltipPosition="bottom"
                        tooltipStyleClass="button-tooltip">
                        <input id="userStatusInput-{{user.id}}"
                            class="custom-control-input"
                            type="checkbox"
                            [(ngModel)]="user.statusBoolean"
                            (click)="updateUserStatus(user)">
                        <label for="userStatusInput-{{user.id}}"
                            class="custom-control-label">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination-wrapper">
        <jw-pagination [items]="users" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
</div>
